@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.delay1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.delay2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.delay3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.delay4 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes progress {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes progress {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes loader2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loader2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

* {
  font-family: "Roboto", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

img {
  max-width: 100%;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 10px #c4c3c0;
          box-shadow: 2px 2px 10px #c4c3c0;
  padding: 15px 20px;
  font-weight: bold;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  opacity: 1;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.8;
  -webkit-box-shadow: 2px 2px 20px black;
          box-shadow: 2px 2px 20px black;
}

.heart {
  font-size: 20px;
  color: grey;
}

.heart:hover {
  -webkit-animation: fill 1s ease-out;
          animation: fill 1s ease-out;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.badge_new {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 80px;
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  right: 10px;
  top: 15px;
}

.check_icons {
  color: white;
  font-size: 20px;
  opacity: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.delay1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.delay2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.delay3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.delay4 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@keyframes progress {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes loader2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

* {
  font-family: "Roboto", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

img {
  max-width: 100%;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 10px #c4c3c0;
          box-shadow: 2px 2px 10px #c4c3c0;
  padding: 15px 20px;
  font-weight: bold;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  opacity: 1;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.8;
  -webkit-box-shadow: 2px 2px 20px black;
          box-shadow: 2px 2px 20px black;
}

.heart {
  font-size: 20px;
  color: grey;
}

.heart:hover {
  -webkit-animation: fill 1s ease-out;
          animation: fill 1s ease-out;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.badge_new {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 80px;
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  right: 10px;
  top: 15px;
}

.check_icons {
  color: white;
  font-size: 20px;
  opacity: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.pr_header {
  padding: 20px 25px 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pr_header__logo {
  margin: auto;
}

.pr_header__back {
  font-size: 20px;
}

.pr_img {
  max-height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pr_main {
  margin-top: -30px;
  position: relative;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
  padding: 35px 15px 80px 15px;
}

.pr_main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
}

.pr_main__header__title {
  font-family: "Shrikhand", sans-serif;
}

.dishes {
  padding-bottom: 40px;
}

.dishes__header {
  margin-bottom: 25px;
}

.dishes__header ::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  -webkit-animation: progress 2s;
          animation: progress 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.dishes__card {
  height: 70px;
  width: 100%;
  padding-left: 10px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 10px #c4c3c0;
          box-shadow: 2px 2px 10px #c4c3c0;
  -webkit-animation: appear 0.5s;
          animation: appear 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.dishes__card__txt {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dishes__card__txt--over {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dishes__card__price {
  margin-left: 10px;
}

.dishes__card__check {
  height: 70px;
  width: 60px;
  opacity: 0;
  background-color: #99E2D0;
  margin-left: 25px;
  margin-right: -70px;
  border-radius: 0 10px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.dishes__card:hover :nth-child(3) {
  opacity: 1;
  margin-right: 0px;
}

.dishes__card:hover .check_icons {
  opacity: 1;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 1000px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #f6f6f6;
  -webkit-animation: loader2 5s;
          animation: loader2 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  pointer-events: none;
}

.loader:after {
  content: "ohmyfood";
  font-size: 40px;
  font-family: "Shrikhand", sans-serif;
  background: -webkit-linear-gradient(top, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: loader 5s;
          animation: loader 5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  overflow: hidden;
  pointer-events: none;
}

.mainheader {
  height: 63px;
  padding: 20px 0px 10px 0px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.localisation {
  background-color: #eaeaea;
  text-align: center;
  padding: 15px 0 15px 0;
  font-weight: 700;
  -webkit-box-shadow: inset 0px 2px 5px 0px #c4c3c0;
          box-shadow: inset 0px 2px 5px 0px #c4c3c0;
}

.localisation__icon {
  margin-right: 15px;
}

.localisation__text {
  display: inline-block;
}

.explorer {
  padding: 40px 30px 55px 30px;
  background-color: #f6f6f6;
  text-align: center;
}

.explorer__title {
  margin-bottom: 20px;
  font-weight: bolder;
}

.explorer__parag {
  margin-bottom: 30px;
}

.tuto {
  padding: 55px 20px 45px 20px;
}

.tuto__title {
  margin-bottom: 30px;
}

.tuto__card {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  -webkit-box-shadow: 2px 2px 10px #c4c3c0;
          box-shadow: 2px 2px 10px #c4c3c0;
  border-radius: 10px 10px 10px 10px;
  padding: 0 70px 0 30px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.tuto__card__icon {
  margin-right: 15px;
  color: #c4c3c0;
}

.tuto__card__number {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  left: -45px;
  color: white;
}

.tuto__card:hover {
  background-color: #f2eafb;
}

.tuto__card:hover :nth-child(2) {
  color: #9356DC;
}

.restaurants {
  padding: 55px 20px 45px 20px;
  background-color: #f6f6f6;
}

.restaurants__title {
  margin-bottom: 30px;
}

.restaurants__card {
  position: relative;
  height: 250px;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px #c4c3c0;
          box-shadow: 2px 2px 10px #c4c3c0;
}

.restaurants__card__img {
  display: block;
  max-height: 175px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants__card__txt {
  padding: 20px 15px 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  background-color: #353535;
  padding: 25px;
}

.footer__logo {
  font-size: 24px;
  font-family: "Shrikhand", sans-serif;
  color: white;
  margin-bottom: 15px;
}

.footer__txt {
  color: white;
}

.footer__icons {
  margin-right: 10px;
}

.footer__list {
  margin-bottom: 10px;
}

@media screen and (min-width: 750px) {
  .container {
    width: 75%;
    margin: auto;
  }
  h2 {
    width: 75%;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
    width: 100%;
  }
  .container__card {
    width: 49%;
  }
  h2,
  .footer__logo {
    width: 100%;
    margin: 0;
  }
  .dishes {
    width: 25%;
  }
  .pr_main {
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 75%;
    margin: auto;
  }
  h2 {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */