body {
  max-width: 600px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
}

h2 {
}

h3 {
  font-size: 24px;
  font-family: "Shrikhand", sans-serif;
  color: white;
}

header {
  height: 60px;
  padding: 20px 0px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 80%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.search {
  padding: 15px 0 15px 0;
  background-color: #eaeaea;
  text-align: center;
}

.reserve {
  padding: 40px 30px 50px 30px;
  background-color: #f6f6f6;
  text-align: center;
}

.operation {
  padding: 50px 20px 40px 20px;
  margin-bottom: 30px;
}

.restaurant {
  padding: 50px 20px 40px 20px;
  background-color: #f6f6f6;
}

.container {
  width: 75%;
  margin: auto;
}

.containerRestaurant {
  height: 250px;
}

.containerRestaurant img {
  max-height: 175px;
  width: 100%;
}

footer {
  background-color: #353535;
  padding: 25px;
  font-size: 24px;
}
