body {
  /* max-width: 600px;
  margin: 0 auto; */
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
}

h2 {
}

h3 {
  font-size: 24px;
  font-family: "Shrikhand", sans-serif;
  color: white;
}

.loader {
  /* display: flex; */
  /* align-items: center; */
  width: 100%;
  height: 1000px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #f6f6f6;
  animation: loader2 5s;
  animation-fill-mode: forwards;
}
.loader:after {
  content: "ohmyfood";
  font-size: 40px;
  font-family: "Shrikhand", sans-serif;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* background-color: #f6f6f6; */
  border: 6px solid rgb(10, 226, 39);
  border-color: rgb(140, 5, 5) transparent rgb(86, 15, 201) transparent;
  animation: loader 5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  overflow: hidden;
  z-index: 0;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes loader2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

header {
  height: 60px;
  padding: 20px 0px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 80%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.search {
  padding: 15px 0 15px 0;
  background-color: #eaeaea;
  text-align: center;
}

.reserve {
  padding: 40px 30px 50px 30px;
  background-color: #f6f6f6;
  text-align: center;
}

.operation {
  padding: 50px 20px 40px 20px;
  margin-bottom: 30px;
}

.restaurant {
  padding: 50px 20px 40px 20px;
  background-color: #f6f6f6;
}

.container {
  width: 75%;
  margin: auto;
}

.containerRestaurant {
  /* height: 250px; */
}

.containerRestaurant img {
  max-height: 175px;
  width: 100%;
}

footer {
  background-color: #353535;
  padding: 25px;
  font-size: 24px;
}
