// Animation d'apparition des "cards" pour les menus
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

// delais d'apparition des "cards" pour les menus
.delay1 {
  animation-delay: 0.1s;
}

.delay2 {
  animation-delay: 0.3s;
}

.delay3 {
  animation-delay: 0.6s;
}

.delay4 {
  animation-delay: 0.9s;
}

// Animation pour le soulignage des intitulés "entrées, plats, desserts"
@keyframes progress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

//  Animation de rotation et disparition du loader
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes loader2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// Animation pour le remplissage du coeur "heart"
@keyframes fill {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
